@model List<Project_BLL.ServiceModels.ProjectServiceModel>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_SiteLayout.cshtml";
   
}

<section class="section projeler page-banner">
    <div class="container">
        <div class="row">
            <div class="col-md-5 col-sm-6 title wow fadeInUp animated" data-wow-duration="3s">
                <h2>PROJELER</h2>
                <p>Hayalini kurduğunuz eve ulaşmak çok kolay! Hemen istediğiniz kriterlerdeki evi aratın, uzmanlarımızdan yardım alın, yeni evinize hemen yerleşin!</p>
            </div>
        </div>
    </div>
    <span class="image wow fadeInUp animated" data-wow-duration="1s" >
        <img src="~/Content/img/projeler-banner.png" alt="Projeler" />
    </span>
</section>
<section class="section projeler proje-list">
    <div class="container">
        <div class="row">
            @foreach (var item in Model)
            {
                <div class="col-md-4 col-xs-6 item wow fadeInUp animated" data-wow-duration="1s">
                    <a href="/Project/Detail/@item.Id">
                        <div class="image">
                            <img src="@item.ThumbPath" height="287px" width="400px" alt="ev">
                            <div class="over"></div>
                        </div>
                        <div class="text">
                            <h3>@item.Name</h3>
                            <h4>@item.ProjectFirm - @item.ProjectLocation</h4>
                        </div>
                    </a>
                </div>
            }
        </div>
    </div>
</section>