<div class="modal fade basvur-modal" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
    <div class="modal-dialog modal-sm">

        <div class="modal-content">
            <div class="modal-title">
                <h3>UZMANLARIMIZA SORUN</h3>
            </div>
           
                <div class="contentx">
                    <form action="/Contact/Index" method="post">
                        <div class="form-line">
                            <input type="text" class="form-input" id="adsoyad" name="Name" placeholder="Adınız Soyadınız">
                        </div>
                        <div class="form-line">
                            <input type="text" class="form-input" id="email" name="Email" placeholder="Email Adresiniz">
                        </div>
                        <div class="form-line">
                            <input type="text" class="form-input" id="tel" name="Number" placeholder="Telefon Numaranız">
                        </div>
                        <div class="form-line btn-line">
                            <input type="submit" class="btnx" value="BAŞVUR">
                        </div>
                    </form>
                </div>
        </div>
    </div>

</div>