
<!-- Bulten -->
<div class="modal fade" id="bulten">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-title">
                <h3>Bizden haberiniz olsun</h3>
            </div>
            <div class="contentx">
                <p>Fırsatlarımızdan haberdar olmak için e-bültenimize kayıt olun.</p>
                <div class="input-group">
                    <span class="input-group-addon"><i class="fa fa-envelope-o" aria-hidden="true"></i></span>
                    <input type="email" class="form-control" placeholder="E-mail Adresiniz" id="newstermail">
                </div>
            </div>
            <div class="modal-footer">
                <div class="row">
                    <div class="col-sm-6"><button class="btn btn-default nothanks" data-dismiss="modal" aria-hidden="true">GÖSTERME</button></div>
                    <div class="col-sm-6"><button class="btn btn-primary nothanks" data-dismiss="modal" onclick="addtonewster()"  aria-hidden="true">KAYIT</button></div>
                </div>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->