
<div class="col-md-5 col-sm-6 address">
    <div class="box wow fadeInUp" data-wow-duration="1s">
        <div class="title">
            <h2>Adres Bilgilerimiz</h2>
        </div>
        <div class="content">
            <ul>
                <li><i class="fa fa-map-marker"></i> Dereboyu Caddesi, Atlı Sok. No: 24/55 34343 Maslak / ISTANBUL</li>
                <li><i class="fa fa-phone"></i> <a href="tel:905555555555">+90 555 555 5555</a></li>
                <li><i class="fa fa-envelope"></i> <a href="mailto:mail@tabya.com">mail@tabya.com</a></li>
            </ul>
            <span class="bg-img"><img src="~/Content/img/istanbul1.png" alt=""> </span>
        </div>
    </div>
</div>
